* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:  rgb(17, 17, 80);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300px;
}
#header {
    background-color: white;
    padding: 20px;
}
#header h1 {
    color: rgb(17, 17, 80);
    text-align: center;
    font-weight: bolder;
}
.score-board {
    border: 3px solid white;
    width: 300px;
    margin: 20px auto;
    font-size: 40px;
    border-radius: 6px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}
.badge {
    background: white;
    color: rgb(17, 17, 80);
    font-size: 16px;
    font-weight: bold;
    padding: 2px 10px;
    border: 3px solid aquamarine;
}
#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}
#computer-label {
    position: absolute;
    top: 30px;
    right: -50px;
}
.result {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.choices {
    margin-top: 50px;
    text-align: center;
}
.choice {
    display: inline-block;
    padding: 15px;
    background:white;
    border-radius: 50%;
    margin: 0 20px;
    transition: all 0.3s ease;
}
#r {
    border: 10px solid red;
}
#p {
    border: 10px solid blue;
}
#s {
    border: 10px solid yellow;
}
#r:hover {
    border: 10px solid white;
    background: red;
    cursor: pointer;
    transform: scale(1.15);
    }
#p:hover {
    border: 10px solid white;
    background: blue;
    cursor: pointer;
    transform: scale(1.15);
}
#s:hover {
    border: 10px solid white;
    background: yellow;
    cursor: pointer;
    transform: scale(1.15);
}
#action-message {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}
.rules {
    margin: 20px auto;
}
.btn-white {
    background: white;
    color: rgb(17, 17, 80);
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}
.btn-white:hover {
    transform: scale(1.1);
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
}
